.profile__name {
  margin: 0 24px 0 0;
  padding: 0;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  max-width: 480px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 960px) {
  .profile__name {
    margin: 5px 15px 0 25px;
  }
}

@media screen and (max-width: 650px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    max-width: 240px;
    margin: 5px 15px 0 auto;
  }
}
