.popup__title {
  margin: 34px auto 43px 36px;
  padding: 0;
  color: black;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
}

@media screen and (max-width: 650px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin: 25px auto 70px 20px;
  }
}
