.elements {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 17px;
  row-gap: 22px;
  margin-bottom: 67px;
}

@media screen and (max-width: 960px) {
  .elements {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0 auto 67px auto;
    justify-items: center;
  }
}
@media screen and (max-width: 650px) {
  .elements {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    margin-bottom: 48px;
    row-gap: 22px;
  }
}
